/*documento css*/

*{margin: 0%;}

.cabecera {width: 100%;
background-color: blueviolet;}



.bi-emoji-airplane{font-size: 6em;
                text-align: center;
                   display: block;
                   color: aliceblue;
                   margin: auto;}

                   .pie{width: 100%;
                height: 90px;}
                
                .h2{font-size: 6em;
                  text-align: center;
                     display: block;
                     color: goldenrod;
                       margin: auto;}