/*Documento css*/

body {background-color: rgb(75, 32, 46);}

h1{color: red;font-size: 32px;
                text-align: center
                line-height 130%;}

h2{color: blue;}

h3{color: aqua;}

h4{color: blueviolet;}

h5{color: black;}

